title: Ghost blog
description: ひろきのテックブログ
url: "https://furoku.github.io"
baseurl: "/furoku"
permalink: /posts/:slug/

# Author
author:
  name: ひろき
  url: "https://github.com/furoku"

# Plugins
plugins:
  - jekyll-sitemap

markdown: kramdown
highlighter: rouge

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
