title: furoku blog
description: ひろきのテックブログ
url: "https://furoku.github.io"
baseurl: ""
permalink: /posts/:slug/

markdown: kramdown
highlighter: rouge

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
